@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap');

:root {
    --text-color: #123a63;
    --text-color-secundary: #b3c5cd;
    --primary-color: #21b6b7;


    --background-color: #f9f9f9;
    --background-color-light: white;
    --background-color-dark: #eef3f6;
    --background-btn-light: #393939;

    --font-family: "Poppins", sans-serif;
    --box-shadow: 0 2px 8px rgba(0, 0, 0, .05)
}

[data-theme="dark"] {
    --text-color: #f0f0f0;
    --text-color-secundary: #b3c5cd;
    --primary-color: #21b6b7;

    --background-btn-light: #c1c1c1;
    --background-color: #252329;
    --background-color-light: #3c393f;
    --background-color-dark: #120f13;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    color: inherit;
    font: inherit;
}
