
.heading {
    display: flex;
    align-items: center;
    justify-content: center;

}

.heading button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;


}


.heading_name,
.heading_area,
.heading_gini,
.heading_population {
    flex: 1;
    padding: 20px;
    font-weight: 500;
    color: var(--text-color-secundary);
    display: flex;
    justify-content: center;
    align-items: center;

}

.heading_name {
    justify-content: flex-start;
}

.row {
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: var(--background-color-light);
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: var(--box-shadow);
    transition: .5s ease-in-out;
    font-weight: 500;
    cursor: pointer;
}

.row:hover {
    transform: translateY(-.4rem);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3)
}

.name {
    flex: 1;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.name img {
    padding-right: 10px;
}


.population {
    flex: 1;


}

.heading_arrow {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}

.area {
    flex: 1;
}

.gini {
    flex: 1
}

@media screen and (max-width: 768px) {
    .heading_gini,
    .heading_area,
    .area,
    .gini,
    .name img {
        display: none;
    }

}




.btnShowMore{

    background-color:var(--background-btn-light);
    color: var(--background-color);
    border:none;
    border-radius: 5px;
    width:200px;
    padding:.5rem 1rem;
display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
